/* 기본 스타일 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/* 상단 메뉴바 투명하게 설정 및 왼쪽 여백 추가 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background: transparent; /* 배경 투명 처리 */
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 0 15px;
  padding-right: 50px; /* 왼쪽 여백 추가 */
}

header nav a:hover {
  text-decoration: underline;
}

.hero {
  height: 100vh;
  background-image: url('/flight.jpg'); /* 배경 이미지 URL */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start; /* "OnAir" 텍스트 왼쪽 정렬 */
  align-items: center;
  position: relative;
  color: white;
}

/* 세로로 흰 줄 추가 */
.vertical-line {
  position: absolute;
  left: 50px; /* 왼쪽에서 띄운 값 */
  top: 0;
  height: 100%;
  width: 5px;
  background-color: white;
}

.hero-text {
  text-align: left; /* 텍스트 왼쪽 정렬 */
  z-index: 10;
  padding-left: 90px; /* "OnAir" 텍스트를 왼쪽에서 더 띄우기 */
  padding-bottom: 350px; /* 텍스트를 위로 올리기 위한 값 추가 */
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
}

/* 소셜 미디어 링크 */
.social-links {
  position: absolute;
  left: 20px;
  bottom: 20px;
  writing-mode: vertical-rl;
  font-size: 14px;
}

.social-links a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}
